.title{
    text-align: center;
}

.new-form, .loading{
    width: 50%;
    margin: 0 auto;
}

.loading{
    text-align: center;
}

.mews{
    width: 40%;
    margin: 0 auto;
    border:1px solid black;
}